@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.fullname</h3>


    <address>
        k22cntt3<br />
        ápnet mvc5<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:phanvietvuong0601@gmail.com">phanvietvuong0601@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:phanvietvuong0601@gmail.com">phanvietvuong0601@gmail.com</a>
    </address>
</main>